body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url('pantai.JPG');
  background-size: cover;
  

}

h3 {
  font-family: 'Public Sans' , sans-serif;
  text-align: center;}
h4 { color: white; }

form {text-align: center;}

.navbar {
  background-color: #51b653;
}

.category-aktif {
  background-color: #009D3A;
  color: white;
}

.btn-primary {
  background-color: #009D3A;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    height: 650px;
  }
  
  .menu {
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
